---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About me"
	pubDate={new Date('May 21 2023')}
	updatedDate={new Date('May 22 2023')}
	heroImage="/placeholder-about.jpg"
>
	<p>
		Born and raised in Pará, Brazil, mother of Nirvana and black woman. 
		Student in Systems Analysis and Development at Uninter.
		I found my passion for developing when I saw the drama
		 <a href="https://g.co/kgs/xm2QYH">Start-Up</a>. 
		Highly recommend!

	</p>

	<p>
		I started my studies in July 2022 and since then I study every day for more 
		than 3 hours at least.
		I'm looking for my first opportunity as a front end developer and I'm open 
		to remote work.
	</p>

	<p>
		I am currently part of the ONE program by Oracle and Alura and I also study 
		React, React Native, NodeJS and Elixir 
		through Rocketseat's Ignite. I develop my UI/UX Design skills everyday with 
		DailyUI as well as Origamid.
	</p>
<div id="formation">
	<h4>
		TECHNOLOGIST
	</h4>
	<h5>
		Analysis and systems development
	</h5>
	<h6>
		UNINTER
	</h6>
</div>
		
<h2>
	🎓 Certificates and courses
</h2>
<ul>
	<li>ONE | Alura - Front End Specialization 89H</li>
	<li>Rocketseat - Web Programming 40H</li>
	<li>Harvad Online - Introduction to Computer Science 70H</li>
	<li>Embraer | XP Educação - Python programmer 148H</li>
	<li>Lit Academy - UI/UX Design 20H</li>
	<li>SENAI/SC - User Experience - Digital Interfaces 20H</li>
	<li>Orange Tech + | DIO.me - BackEnd 87H</li>
	<li>Orange Tech + | DIO.me - FrontEnd 78H</li>
	<li>Quebec Canadá | DIO.me - Java 93H</li>
</ul>
<h2>🪄 Skills</h2>
<img src="/html.svg" alt="HTML Logo">
<img src="/css.svg" alt="CSS Logo">
<img src="/javascript.svg" alt="JavaScript Logo">
<img src="/next.svg" alt="NextJS Logo">
<img src="/tailwind.svg" alt="TailwindCSS Logo">
<img src="/react.svg" alt="ReactJS Logo">
<img src="/angular.svg" alt="Angular Logo">
<img src="/bootstrap.svg" alt="Bootstrap Logo">
<img src="/styled-components.svg" alt="Styled-Components Logo">
<img src="/nodejs.svg" alt="NodeJS Logo">
<img src="/java.svg" alt="Java Logo">
<img src="/php.svg" alt="PHP Logo">
<img src="/django.svg" alt="Django Logo">
<img src="/python.svg" alt="Python3 Logo">
<img src="/jinja.svg" alt="Jinja2 Logo">
</Layout>

<style>
	div {
		width:11.063em;
		background-color: transparent;
		border: 2px;
		border-radius: 15px;
		padding: 0.625em;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
	}
	h4 {
		color: #8733FF;
		font-weight: 400;
	}
	h5 {
		color:#54129D;
		font-weight: 700;
	}
	h6 {
		color: #8733FF;
		font-weight: 700;
	}
  ul {
  list-style: square inside url("sqpurple.gif");
}
</style>