---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_SUBTITLE } from '../consts';
import ThemeIcon from '../components/ThemeIcon.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_SUBTITLE} />
		<main>
			<h1>🚀 Hello!</h1>
			<p>
				Welcome to my portfolio homepage! Here you will find a collection of my 
				creative works and exciting projects. Allow me to take you on a visual 
				journey and explore the world of my creations.
			</p>
			<p>
				I am a passionate individual when it comes to technology, design, and 
				innovation, and each project in this portfolio reflects my dedication to
				creating something unique and impactful. From vibrant interfaces to 
				elegant software, my approach seeks to combine visual aesthetics with 
				functionality and purpose.
			</p>
			<p>
				Navigate through the different sections to discover my diverse skills 
				and commitment to excellence. Each project has been developed with care 
				and attention to detail, aiming to convey powerful messages and evoke 
				emotions in viewers.
			</p>
			<p>
				Furthermore, feel free to explore my creative process and get to know 
				me a little better. I believe that creativity is an ongoing journey, 
				and I am always in search of new challenges and inspirations. I am 
				excited to share my passions and experiences with you.
			</p>
			<p>
				If you are seeking a creative collaborator, do not hesitate to get in 
				touch. I love working on innovative projects and am always open to new 
				collaboration opportunities. Together, we can bring ideas to life and 
				create something truly special.
			</p>
			<p>
				Thank you for visiting my portfolio homepage, and I hope you feel 
				inspired and captivated by what you find here. Feel free to explore, 
				have fun, and let your imagination soar. I am looking forward to sharing 
				this creative journey with you.			
			</p>
		</main>
		<Footer />
	</body>
</html>
