---
import HeaderLink from './HeaderLink.astro';
import { SITE_SUBTITLE } from '../consts';
import ThemeIcon from './ThemeIcon.astro';

---

<header>
	<ThemeIcon />
	<h2>
		{SITE_SUBTITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/links">Links</HeaderLink>
		<HeaderLink href="mailto:suamirochati@gmail.com"  target="_blank">suamirochati@gmail.com</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 4.5em 0.5em 0;
	}
</style>
